#include <crails/i18n.hpp>
#include <crails/cms/models/settings.hpp>
#include <crails/cms/models/layout.hpp>
#include <crails/cms/views/layout.hpp>
#include <crails/cms/views/menu.hpp>
#include <crails/cms/autogen/assets.hpp>
#include "autogen/assets.hpp"
#include "src/style.hpp"

OldSchoolStyle style;
const char* @yield;
const Crails::Cms::Settings& @settings;
std::string @page_title = settings.get_title();
const Crails::Cms::LayoutVariables& theme_variables = settings.get_layout().get_variables();
const Data theme_settings = settings.get_theme_settings();
bool @render_footer = true;

// END LINKING
<!DOCTYPE html>
<html lang="<%= i18n::Settings::singleton::require().get_current_locale() %>">
  <head>
    <title><%= page_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= partial("layouts/head") %>
    <%= tag("link", {{"rel","stylesheet"},{"href", CrailsCmsAssets::pure_css}}) %>
    <%= tag("link", {{"rel","stylesheet"},{"href", OldSchoolAssets::layout_css}}) %>
    <%= tag("script", {{"src", OldSchoolAssets::bundle_js}}) %>
  </head>
  <body>
    <div class="menu-wrapper">
      <label class="toggle-navigation" for="main-nav-toggle-navigation">
        &#x2630; <%= i18n::t("Menu") %>
      </label>
      <input type="checkbox" id="main-nav-toggle-navigation" />
      <%= Crails::Cms::RenderMenu("main-menu", this)
             .with_direction(Crails::Cms::Menu::Vertical)
             .with_style(&style)() yields %>
        <%= Crails::Cms::get_layout_value(theme_variables, theme_settings, "sidebar-header") %>
      <% yields-end %>
      <label class="toggle-navigation-layer" for="main-nav-toggle-navigation">
      </label>
    </div>

    <div class="content">
      <div class="pure-g">
        <% if (yield != nullptr) do -%>
          <%= yield %>
        <% end -%>
      </div>

      <% if (render_footer) do -%>
        <%= settings.get_footer() %>
      <% end -%>
    </div>
  </body>
</html>
