[data-component='picture'] {
  img {
    max-width: 100%;
    padding: 0.2em 1em;
    box-sizing: border-box;
  }

  > a {
    display: block;
    padding: 0.2em 1em;
    pointer-events: none;
  }

  > a img {
    border: var(--link-color) 3px solid;
    padding: 0;
    pointer-events: all;
    &:active {
      border-style: dotted;
    }
  }
}

[data-component='card'] {
  .text-center { text-align: center; }
  .text-right { text-align: right; }
  .text-left { text-align: left; }

  img {
    display: block;
    margin: 0 auto;
    background-size: cover;
  }
}

[data-component='separator'] {
  clear: both;
  height: 0;
  width: 100%;
}

[data-component] {
  &[data-horizontal-alignment='0'] {
    text-align: left;
  }
  &[data-horizontal-alignment='1'] {
    text-align: center;
  }
  &[data-horizontal-alignment='2'] {
    text-align: right;
  }

  &[data-vertical-alignment='0'] {
    align-self: flex-start;
  }
  &[data-vertical-alignment='1'] {
    align-self: center;
  }
  &[data-vertical-alignment='2'] {
    align-self: flex-end;
  }
}

body.page-editor-frame {
  height: 100%;

  [data-component='separator']:before {
    content: " ";
    display: block;
    width: 100%;
    height: 0px;
    background-color: red;
    opacity: 0;
  }
}
